<% if @user.errors.any? %>
  <h4>The following errors prevented the <%= @user.class.name.downcase %> from being saved</h4>

  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for @user do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, placeholder: "example@example.com" %><br><br>

  <%= f.label :username %>
  <%= f.text_field :username, autofocus: true, placeholder: "Your username here" %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password, autofocus: true, placeholder: "Choose a password" %><br><br>

  <%= f.submit%>
<% end %>